In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

## Overview of Views

In [3]:
%%sql

CREATE OR REPLACE VIEW orders_v
AS
SELECT * FROM orders WHERE order_status = 'COMPLETE'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [5]:
%%sql

SELECT * FROM information_schema.tables
WHERE table_name ~ 'orders'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
124 rows affected.

[('data_engineering', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201601', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201602', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201512', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201603', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201604', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201605', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201606', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201607', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201608', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201609', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201610', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201611', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201612', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201701', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201702', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201703', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201704', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201705', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201706', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201707', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201708', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_default', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_v', 'VIEW', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201709', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201710', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201711', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201712', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201301', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201801', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201302', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201802', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201803', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201804', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201303', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201805', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201304', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201806', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201807', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201305', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201808', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201809', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201810', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201306', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201811', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201307', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201812', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201901', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201902', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201308', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201309', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201903', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201904', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201905', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201906', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201310', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201907', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201311', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201908', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201909', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201910', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201312', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201911', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201401', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201912', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202001', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201402', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202002', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202003', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202004', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201403', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202005', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201404', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202006', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202007', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202008', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201405', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201406', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202009', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202010', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202011', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202012', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201407', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202101', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201408', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202102', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202103', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202104', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201409', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202105', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201410', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202106', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202107', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201411', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202108', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202109', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202110', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201412', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202111', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201501', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202112', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202201', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202202', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201502', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201503', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202203', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202204', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202205', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202206', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201504', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202207', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201505', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202208', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202209', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202210', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201506', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202211', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201507', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_202212', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201508', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201509', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201510', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('data_engineering', 'public', 'orders_part_201511', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

## Named Queries - Using WITH Clause

In [7]:
%%sql

WITH order_details_nq AS (
    SELECT * FROM orders o
        JOIN order_items oi
            on o.order_id = oi.order_item_order_id
) SELECT * FROM order_details_nq LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED', 1, 1, 957, 1, 299.98, 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 2, 2, 1073, 1, 199.99, 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 3, 2, 502, 5, 250.0, 50.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT', 4, 2, 403, 1, 129.99, 129.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 5, 4, 897, 2, 49.98, 24.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 6, 4, 365, 5, 299.95, 59.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 7, 4, 502, 3, 150.0, 50.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED', 8, 4, 1014, 4, 199.92, 49.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE', 9, 5, 957, 1, 299.98, 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE', 10, 5, 365, 5, 299.95, 59.99)]

In [8]:
%%sql

SELECT * FROM order_details_nq LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.UndefinedTable) relation "order_details_nq" does not exist
LINE 1: SELECT * FROM order_details_nq LIMIT 10
                      ^

[SQL: SELECT * FROM order_details_nq LIMIT 10]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [9]:
%%sql

WITH order_details_nq AS (
    SELECT * FROM orders o
        JOIN order_items oi
            on o.order_id = oi.order_item_order_id
) SELECT order_date,
    order_item_product_id,
    round(sum(order_item_subtotal)::numeric, 2) AS revenue
FROM order_details_nq 
GROUP BY order_date,
    order_item_product_id
ORDER BY order_date,
    revenue DESC
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('10799.46')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('9599.36')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('8499.15')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('7558.74')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('6999.65')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('6397.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('5589.57')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('5100.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('2879.28')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99'))]

In [10]:
%%sql

CREATE OR REPLACE VIEW daily_product_revenue_v
AS
WITH order_details_nq AS (
    SELECT * FROM orders o
        JOIN order_items oi
            on o.order_id = oi.order_item_order_id
) SELECT order_date,
    order_item_product_id,
    round(sum(order_item_subtotal)::numeric, 2) AS revenue
FROM order_details_nq 
GROUP BY order_date,
    order_item_product_id

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

## Overview of Sub Queries

In [11]:
%%sql

SELECT * FROM (
    SELECT nq.*,
        dense_rank() OVER (
            PARTITION BY order_date
            ORDER BY revenue DESC
        ) AS drnk
    FROM (
        SELECT o.order_date,
            oi.order_item_product_id,
            round(sum(oi.order_item_subtotal)::numeric, 2) AS revenue
        FROM orders o 
            JOIN order_items oi
                ON o.order_id = oi.order_item_order_id
        WHERE o.order_status IN ('COMPLETE', 'CLOSED')
        GROUP BY o.order_date, oi.order_item_product_id
    ) nq
) nq1
WHERE drnk <= 5
ORDER BY order_date, revenue DESC
LIMIT 20

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
20 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49'), 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70'), 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44'), 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85'), 5),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, Decimal('10799.46'), 1),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, Decimal('7978.67'), 2),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, Decimal('6899.54'), 3),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, Decimal('6799.32'), 4),
 (datetime.datetime(2013, 7, 26, 0, 0), 1014, Decimal('4798.08'), 5),
 (datetime.datetime(2013, 7, 27, 0, 0), 1004, Decimal('9599.52'), 1),
 (datetime.datetime(2013, 7, 27, 0, 0), 191, Decimal('5999.40'), 2),
 (datetime.datetime(2013, 7, 27, 0, 0), 957, Decimal('5699.62'), 3),
 (datetime.datetime(2013, 7, 27, 0, 0), 1073, Decimal('5399.73'), 4),
 (datetime.datetime(2013, 7, 27, 0, 0), 365, Decimal('5099.15'), 5),
 (datetime.datetime(2013, 7, 28, 0, 0), 1004, Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 28, 0, 0), 957, Decimal('5099.66'), 2),
 (datetime.datetime(2013, 7, 28, 0, 0), 365, Decimal('4799.20'), 3),
 (datetime.datetime(2013, 7, 28, 0, 0), 403, Decimal('4419.66'), 4),
 (datetime.datetime(2013, 7, 28, 0, 0), 191, Decimal('4299.57'), 5)]

In [12]:
%%sql

SELECT * FROM order_items oi
WHERE oi.order_item_order_id 
    NOT IN (
        SELECT order_id FROM orders o
        WHERE o.order_id = oi.order_item_order_id
    )
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
0 rows affected.

[]

In [13]:
%%sql

SELECT count(1) FROM order_items oi
WHERE oi.order_item_order_id 
    IN (
        SELECT order_id FROM orders o
        WHERE o.order_id = oi.order_item_order_id
    )
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(172198,)]